@import "tailwindcss";

body {
  direction: rtl;
}

@theme {
  --color-primary: #003366;
  --color-secondary: #ffb800;
  --color-background: #f4f4f4;
  --color-text: #333333;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

@utility animate-shimmer {
  animation: shimmer 1.5s infinite;
}

@keyframes loop-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@utility animate-loop-scroll {
  animation: loop-scroll 30s linear infinite;
}
